include README.md
include LICENSE
include pyproject.toml

recursive-include src/audiotranscriber/nlp *.py
recursive-include src/audiotranscriber/nlp *.txt
recursive-include src/audiotranscriber/nlp *.cfg

recursive-include tests *.py